#control-panel {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    .active {
        background-color: #93cdff;
    }
    .format-action {
        padding: 5px 12px;
        outline: none;
        cursor: pointer;
        border: 0.5px solid #ffa500;
        margin: 0 0.5px;
    }
}
#format-actions {
    width: 200px;
    margin-right: 400px;
}
